<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>Anna's Architecture Site</title>
  <meta name="description" content ="Project for Part 1"> <meta name="author" content=“CorbinBullock”>
        
  <h1>Welcome to Anna's Architecture</h1>
  <body>
    <div>
      Login<br>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p>
          <label for="email">Email:  </label>
          <input type="text" id="email" formControlName="email"><br>
        </p>
        <p>
          <label for="password">Password:  </label>
          <input type="password" id="password" formControlName="password"><br>
        </p>
        <br>
        <p>
          <button type="submit">Login<br></button>
        </p>
      </form>
      <br>
      {{errorMessage}}
    </div>
   
    <div>
      <p>
        <label>New Clients:</label>
        <button routerLink="newuserpage">Create Account</button>
      </p>
    </div>
    <br>
    <div>
      <p>
        <label>Admin:</label>
        <button routerLink="adminlogin">Admin</button>
      </p>
    </div>
    <br><br>
  </body>
 
    
  

</html>
