<!DOCTYPE html>
<html en>
    <h1>New User Information</h1>

    <div>
        <form [formGroup]="profileForm" (ngSubmit)="addUser()">
            <p>
                <label for="name">Name: </label>
                <input type="text" id="name" formControlName="name">
            </p>
            <p>
                <label for="email">Email: </label>
                <input type="text" id="email" formControlName="email">
            </p>
            <p>
                <label for="password">New Password: </label>
                <input type="text" id="password" formControlName="password">
            </p>
            <p>
                <label for="confirmPassword">Confirm Password: </label>
                <input type="text" id="confirmPassword" formControlName="confirmPassword">    
            </p><br>
            <p>
                <label></label>
                <button type="submit" value="Submit">Submit</button>
            </p>
        </form>
        <br>
        {{errorMessage}}
    </div>

</html>